*{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font-family:"微软雅黑"；
}
ul {
	list-style: none;
}
body {
	height: 100%;
    width: 100%;
    min-width: 1300px;
    background: #fbfbfb;;
}

a{
	color:#555;
	text-decoration: none;
	cursor: pointer;
	transition:all 0.3s ease 0.3s;
}
#a{
	color:#f1ad48;
	text-decoration: none;
	cursor: pointer;
	transition:all 0.3s ease 0.3s;
}

a:hover{
    color: #f1ad48;

}

a img {
	border: none;
}
a > img {
	vertical-align: middle;
    
}
.header{
    width: 100%;
    margin: auto;
    height: 65px;
    border-bottom: 2px solid #f1ad48; 
    position: fixed;
    background: rgba(246, 246, 246, 1);
    
    
}
header{
    width: 60%;
    text-align: center; 

    margin: auto;
    min-width: 1000px;
    padding-top: 10px;
    
    
}
.header-img{
    width: 20%;
    height: 60px;
}

.daohang{
    width: 60%;
    margin: auto;
    margin-left: 25%;
    margin-top: -60px;
}
.daohang-biao{
    width: 900px;
    list-style: none;
    float: left;
    margin: auto;
}
.daohang-biao li{
    width: 10%;
    height: 40px;
    line-height: 50px;
    float: left;
    font-size: 20px;
    cursor: pointer;
    margin-left: 22px;
}
.li1{
    color: #f1ad48;
}
.daohang-biao li:hover{
    color: #f1ad48;
    transition:all 0.5s ease 0.1s;
    border-bottom: 2px solid #f1ad48;
    
}


  #container {
             position: relative;
             width: 100%;
             height: 600px;
             overflow: hidden;
             margin-top: -2px;
         }
         
         #list {
             position: absolute;
             z-index: 1;
             width: 7680px;
             height: 600px;
         }
         
         #list img {
             float: left;
             width: 25%;
             height: 600px;
             background-size: 100%;
         }
        
         #buttons {
             position: absolute;
             left: 48%;
             bottom: 20px;
             z-index: 2;
             height: 10px;
             width: 100px;
         }
         
         #buttons span {
             float: left;
             margin-right: 5px;
            width: 10px;
             height: 10px;
             border: 1px solid #fff;
             border-radius: 50%;
             background: #999;
            cursor: pointer;
         }
         
         #buttons .on {
             background: #f1ad48;;
         }
         
         .arrow {
             position: absolute;
             top: 180px;
             z-index: 2;
             display: none;
             width: 40px;
             height: 40px;
             font-size: 36px;
             font-weight: bold;
             line-height: 39px;
             text-align: center;
             color: #fff;
             background-color: RGBA(0, 0, 0, .3);
             cursor: pointer;
         }
         
         .arrow:hover {
             background-color: RGBA(0, 0, 0, .7);
          }
         
         #container:hover .arrow {
             display: block;
         }
         
        #prev {
             left: 20px;
             top: 260px;
         }
         
         #next {
             right: 3%;
             top: 260px;
         }
.header-bj{
    width: 100%;
    height: 600px;
    background: url(../img/mjj.jpg);
    background-size: 100% 600px;
    
}

.pinzhong-biaoti{
    width: 100%;
    height: 117px;
    text-align: center;
    margin-top: 70px;
}
.pinzhong-biaoti .pp{
    font-size: 30px;
    margin: 0 0 15px;
    color: rgb(100, 100, 100);
}
.guanyu{
    width: 60%;
    height: 467px;
    margin: auto;
    margin-top: 40px;
}

.guanyu-left{
    width: 48%;
    height:387px;
    float: left;
    z-index: 1;
    overflow: hidden;
}
.guanyu-left img{
    width: 100%;
    height: 100%;
}
.guanyu img:hover{
    transform: scale(1.1,1.1);
    transition: all 1s ease;
}
.guanyu-right{
    width: 48%;
    height:443px;
    float: left;
    margin-left: 2%;
    color: #525c65;
    
}
.pd{
    margin: 0 0 20px;
}
.guanyu-button{
    width: 100%;
    height: 67px;
    background: #f1ad48;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
}
.guanyu-button1{
    width: 60%;
    height: 67px;
    margin: auto;
    color: #fff;
    
}
.guanyu-button1 li{
    float: left;
    cursor: pointer;
}
.li1{
    width: 10%;
}
.li2{
    width: 15%;
}

.pn{
    font-size: 32px;
}
.guanyu-bj{
    width: 100%;
    height: 544px;
    background: url(../img/gy2.jpg);
    background-size: 100% 544px;
        color: rgb(82, 92, 101);
}
.guanyu-zi{
    width: 30%;
    height: 220px;
    margin: auto;
    text-align: center;
    padding: 180px 30px 30px;

    
}
.hr2{
    background: #f1ad48;
    border:none;
    display: inline-block;
    height: 3px;
    margin: 10 0 25px;
    width: 15px;
   
}
.guanyu-zi:hover .hr2{
    width: 50px;
    transition: all 1s ease;
}
.guanyu-zi ul{
        padding: 50px 30px 30px;
    text-align: center;
}
.guanyu-zi img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    margin-left: -40px;
    margin-top: -40px;
}
.guanyu-wen{
    width: 100%;
    height:220px;
    background: rgba(255, 255, 255, 0.8)
}
.li4{
    margin-top: 5px;
    font-size: 18px;
   
}
.li4 strong{
     cursor: pointer;
}
.li5{
    margin-top: 5px;
}
.footer{
    width: 100%;
    height: 321px;
    color: rgb(82, 92, 101);
    background: #f6f5f2;
    clear: left;
}
.footer-kuang{
    width: 60%;
    height: 321px;
    margin: auto;
}
.footer-left{
    width: 32%;
    height: 227px;
    float: left;
}
.footer-left .p1{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 35px;
}
.footer-left img{
    margin-bottom: 35px;
}
.footer-left .p4{
    margin-top: 5px;
}
.footer-center{
    width: 32%;
    height: 275px;
    float: left;
}
.footer-center .p1{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 35px;
}
.footer-center li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #5e5e5e;
    font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.footer-right{
    width: 80px;
    height: 275px;
    float: left;
    margin-left: 4%;
}
.footer-right p{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 35px;
}
.footer-right li{
    width: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #5e5e5e;
    font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.footer-right img{
    width: 70px;
    height: 48px;
}

.footer-right2{
    width: 150px;
    height: 275px;
    float: left;
    color: #5e5e5e;
}
.footer-right2 li{
    width: 150px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   
    font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.footer-right2 li .p1{
    margin-left: 20px;
    margin-top:97px;
}
.footer-right2 li .p5{
    margin-left: 20px;
    font-size: 12px;
    margin-top: 6px;
    
}
.footer-right2 li .p7{
    margin-left: 20px;
    margin-top:16px;
}
.footer-right2 li .p6{
    margin-left: 20px;
    margin-top:16px;
}